force-app/main/default/flows/Influencer_Map_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Formatted_Influence_Graph</name>
        <label>Formatted Influence Graph</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Formatted_Influence_Graph</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:FinalResult</name>
            <value>
                <elementReference>FinalResult</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:TargetAccountName</name>
            <value>
                <elementReference>TargetAccountName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Formatted_Influence_Graph</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>FormattedAffiliationOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Format_Response</name>
        <label>Format Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AffiliationOutput</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Affiliations: {!Process_Affiliations.AccountName} - {!Process_Affiliations.RelatedAccountName} | Influence Type: {!Process_Affiliations.InfluenceType} | Affiliation Strength Type: {!Process_Affiliations.AffiliationStrengthType}  | Affiliation Type: {!Process_Affiliations.AffiliationType} &apos;&lt;br&gt;&apos; &apos;&lt;br&gt;&apos; </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalResult</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AffiliationOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Affiliations</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Influencer Map Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Influencer Map Flow</label>
    <loops>
        <description>Go through each affiliation</description>
        <name>Process_Affiliations</name>
        <label>Process Affiliations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>affiliationRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Format_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Formatted_Influence_Graph</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the account name</description>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Provider_Affiliations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>TargetAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Provider_Affiliations</name>
        <label>Get Provider Affiliations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Affiliations</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>targetAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProviderAffiliation</object>
        <outputReference>affiliationRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>RelatedAccountId</queriedFields>
        <queriedFields>AccountName</queriedFields>
        <queriedFields>RelatedAccountName</queriedFields>
        <queriedFields>InfluenceType</queriedFields>
        <queriedFields>AffiliationStrengthType</queriedFields>
        <queriedFields>CareSpecialtyId</queriedFields>
        <queriedFields>AffiliationType</queriedFields>
        <queriedFields>Role</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>EffectiveStartDate</queriedFields>
        <queriedFields>EffectiveEndDate</queriedFields>
        <sortField>AffiliationType</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Output of Affiliations</description>
        <name>AffiliationOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Retrieved provider affiliations</description>
        <name>affiliationRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProviderAffiliation</objectType>
    </variables>
    <variables>
        <description>Error message if any</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Retrieved Records</description>
        <name>FinalOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProviderAffiliation</objectType>
    </variables>
    <variables>
        <description>Final Output of Affiliation</description>
        <name>FinalResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FormattedAffiliationOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Flow execution success status</description>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account ID to analyze for affiliations</description>
        <name>targetAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
