force-app/main/default/flows/Visit_Note_based_Logging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates the Visit Reocrd</description>
        <name>Create_Visit_Record</name>
        <label>Create Visit Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VisitNoteProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>visitNotesJson</name>
            <value>
                <elementReference>StructuredJsonOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisitNoteProcessor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ProviderVisitID</assignToReference>
            <name>providerVisitId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>SuccessMessage</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>VisitID</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Converts Unstructured Visit Notes to a mapped JSON output</description>
        <name>Visit_Notes_For_Visit_Logging</name>
        <label>Visit Notes For Visit Logging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Visit_Notes_to_Structured_Data</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Create_Visit_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Input_Query</name>
            <value>
                <elementReference>UnstructuredVisitNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Visit_Notes_to_Structured_Data</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>StructuredJsonOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Visit Note to Visit Logging</description>
    <environments>Default</environments>
    <interviewLabel>Visit Note based Logging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Note based Logging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Visit_Notes_For_Visit_Logging</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>confidenceScore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>error</description>
        <name>errors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Message</description>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ProductDetailesID</description>
        <name>ProductDetailesID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>LifeSciMarketableProduct</objectType>
    </variables>
    <variables>
        <description>ProductDiscussionIds</description>
        <name>ProductDiscussionIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProviderVisitProdDiscussion</objectType>
    </variables>
    <variables>
        <description>ProductMesssageIds</description>
        <name>ProductMesssageIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ProviderVisitDtlProductMsg</objectType>
    </variables>
    <variables>
        <description>ProviderVisitID</description>
        <name>ProviderVisitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>JSON output containing mapped Visit notes</description>
        <name>StructuredJsonOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SuccessMessage</description>
        <name>SuccessMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>UnstructuredVisitNote</description>
        <name>UnstructuredVisitNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>VisitID</description>
        <name>VisitID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
