force-app/main/default/flows/Visit_Note_Processor_Simple.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Processes unstructured visit notes and creates structured data</description>
        <name>Process_Visit_Notes</name>
        <label>Process Visit Notes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VisitNoteProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>visitNotesJson</name>
            <value>
                <elementReference>StructuredJsonInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VisitNoteProcessor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>UpdateType</assignToReference>
            <name>actionType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductDiscussionAdded</assignToReference>
            <name>addedProductDiscussions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AddedProducts</assignToReference>
            <name>addedProducts</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ConfidenceScore</assignToReference>
            <name>confidence</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>FullUpdateSummary</assignToReference>
            <name>dashboardSummary</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProcessingMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductIdsUpdated</assignToReference>
            <name>productDetailingIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductDiscussionIds</assignToReference>
            <name>productDiscussionIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProductMessageID</assignToReference>
            <name>productMessageIds</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreatedORUpdatedProviderVisitId</assignToReference>
            <name>providerVisitId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>ProcessingResult</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>CreatedORUpdatedVisitId</assignToReference>
            <name>visitId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Maps the Visit Note content to Provider Visit Data Model Objects</description>
        <name>Voice_Visit_Note_Mapper</name>
        <label>Voice Visit Note Mapper</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Visit_Note_Mapper</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Process_Visit_Notes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:VisitNote</name>
            <value>
                <elementReference>VoiceNote</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Visit_Note_Mapper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>StructuredJsonInput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Simple Visit Note Processor - Takes structured JSON and creates visit records</description>
    <environments>Default</environments>
    <interviewLabel>Visit Note Processor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Note Processor Simple</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Voice_Visit_Note_Mapper</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddedProducts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConfidenceScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CreatedORUpdatedProviderVisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreatedORUpdatedVisitId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FullUpdateSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessingMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProcessingResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductDiscussionAdded</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductDiscussionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductIdsUpdated</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductMessageID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Structured JSON input containing visit note data</description>
        <name>StructuredJsonInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Voice Note Provided by USer</description>
        <name>VoiceNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
